/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$break-point-mobile-xs: 350px;
$break-point-mobile: 960px;
$break-point-tablet: 1200px;
$break-point-large-tablet: 1380px;
