$color-black: #000000;

// TEXT COLORS
$color-text-white: #ffffff;
$color-text-primary: #443636;
$color-text-secondary: #b4a89a;


// BUTTON COLORS
$color-button-primary: #f6914d;


// FOOTER
$color-footer: #3d552c;
$color-footer-secondary: #edd3c0;