body {
  margin: 0;
}
.header__section {
  position: sticky;
  top: 0px;
  max-width: 100vw;
  z-index: 10;
}
  .header {
    height: $height-header;
    display: flex;
    align-items: center;
  }
    .header__panel {
      flex: 1;
      display: flex;

      &.header__panel-right {
        justify-content: flex-end;
      }
    }
      .header__logo {
        display: flex;
        align-items: center;
      }
        .header__logo-svg {}

      .header__nav-list {
        list-style: none;
        display: flex;
      }
      .header__nav-list-item {
        padding: 0 $space*2;
      }