.button {
  @extend .font-button;
  display: inline-block;
  border: none;
  color: $color-text-white;
  border-radius: 5px;
  background-color: $color-button-primary;
  padding: $space*1.5 $space*8;
  text-transform: uppercase;
}
  .button--style1 {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    text-transform: none;
  }

  .button--style2 {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  }

  .button--style3 {
    text-transform: none;
  }

  .button-wireframe {
    @extend .font-button-wireframe;
    background-color: transparent;
    border: 1px solid $color-text-secondary;
    color: $color-text-secondary;
    padding: $space $space*4;
  }

  .button-wireframe--style2 {
    @extend .font-button-wireframe-style2;
    color: $color-text-primary;
  }