.overlay-text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none !important;
}

.overlay-text-block__text {
  display: block;
  text-decoration: none;
}
.overlay-text-block__text--style1 {
  @extend .font-overlay-text-style1;
}
.overlay-text-block__text--style2 {
  @extend .font-overlay-text-style2;
}

.overlay-text-block__button {
  display: block;
  text-decoration: none;
}