<div id="hero-banner-wave">

</div>

<script type="application/javascript">
    $(document).ready(function () {
        console.log("lottie", lottie)

    });
</script>

{% schema %}
{
   "name": "Wave",
   "settings": [
      {
         "type": "select",
         "id": "wave_style",
         "label": "Wave Style",
         "options": [
            {
               "value": "data-color-1.json",
               "label": "Style 1"
            },
            {
               "value": "data-color-2.json",
               "label": "Style 2"
            },
            {
               "value": "data-color-3.json",
               "label": "Style 3"
            }
         ]
      }
   ],
   "presets": [
      {
         "name": "Wave"
      }
   ]
}
{% endschema %}