/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
:root {
  --top-space-desktop: 0px;
  --top-space-mobile: 0px;
  --max-width-desktop: 100vw;
  --max-width-mobile: 100vw; }

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
/**
 * Fonts
 */
.font-button, .button {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.font-overlay-text-style1, .overlay-text-block__text--style1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #443636; }

.font-overlay-text-style2, .overlay-text-block__text--style2 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c0ac9b; }

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/**
 * Default global spacing units
 */
/**
 * Main CSS
 */
main {
  margin-top: -120px; }

.overlay-text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none !important; }

.overlay-text-block__text {
  display: block;
  text-decoration: none; }

.overlay-text-block__button {
  display: block;
  text-decoration: none; }

.button {
  display: inline-block;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  background-color: #f6914d;
  padding: 12px 64px; }

.button--style1 {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  text-transform: none; }

.button--style2 {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); }

.button--style3 {
  text-transform: none; }

body {
  margin: 0; }

.header__section {
  position: sticky;
  top: 0px;
  max-width: 100vw;
  z-index: 10; }

.header {
  height: 120px;
  display: flex;
  align-items: center; }

.header__panel {
  flex: 1;
  display: flex; }
  .header__panel.header__panel-right {
    justify-content: flex-end; }

.header__logo {
  display: flex;
  align-items: center; }

.header__nav-list {
  list-style: none;
  display: flex; }

.header__nav-list-item {
  padding: 0 16px; }

.image__section {
  position: relative; }

.image {
  position: relative; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .image {
      max-width: var(--max-width-mobile); } }

.image__image {
  object-fit: cover;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .image__image {
      object-position: 80%;
      width: 100vw;
      height: 100vh; } }

.hide {
  display: none; }

@media screen and (max-width: 350px), print {
  .hide--xs-mobile {
    display: none; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .hide--mobile {
    display: none; } }

@media screen and (max-width: 1200px), print {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 350px), print {
  .hide--larger-than-xs-mobile {
    display: none; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .hide--larger-than-mobile {
    display: none; } }

@media screen and (min-width: 1201px), print {
  .hide--larger-than-tablet {
    display: none; } }
