/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
:root {
  --top-space-desktop: 0px;
  --top-space-mobile: 0px;
  --max-width-desktop: 100vw;
  --max-width-mobile: 100vw; }

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
/**
 * Fonts
 */
.font-header-menu-desktop, .header__nav-list-item-link {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  text-decoration: none; }

.font-button, .button {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 11px; }

.font-button-wireframe, .font-button-wireframe-style2, .button-wireframe--style2, .button-wireframe {
  font-family: "Century Gothic", sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none; }

.font-button-wireframe-style2, .button-wireframe--style2 {
  font-weight: 400; }

.font-overlay-text-style1, .overlay-text-block__text--style1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #443636; }

.font-overlay-text-style2, .overlay-text-block__text--style2 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b4a89a; }

.font-featured-collection-title, .featured-collection__title {
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: 700; }

.font-product-preview-title, .featured-collection__product-preview-title {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.font-product-preview-size, .featured-collection__product-preview-size {
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  font-weight: 700; }

.font-product-preview-description, .featured-collection__product-preview-description {
  font-family: "Century Gothic", sans-serif;
  font-size: 12px;
  font-weight: 300; }

.font-product-preview-price, .featured-collection__product-preview-price {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.font-product-title, .featured-collection__product-title {
  font-family: "Century Gothic", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5; }

.font-footer-our-shop, .footer__our-shop-text {
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .font-footer-our-shop, .footer__our-shop-text {
      font-size: 24px; } }

.font-footer-list-item-link, .footer__nav-list-item-link {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; }

.font-footer-list-item-link--secondary, .footer__nav--secondary .footer__nav-list-item-link {
  font-size: 12px; }

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/**
 * Default global spacing units
 */
/**
 * Main CSS
 */
body {
  margin: 0;
  position: relative; }

main {
  margin-top: -110px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    main {
      margin-top: -80px; } }

.overlay-text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none !important; }

.overlay-text-block__text {
  display: block;
  text-decoration: none; }

.overlay-text-block__button {
  display: block;
  text-decoration: none; }

.button {
  display: inline-block;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  background-color: #f6914d;
  padding: 12px 64px;
  text-transform: uppercase; }

.button--style1 {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  text-transform: none; }

.button--style2 {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); }

.button--style3 {
  text-transform: none; }

.button-wireframe {
  background-color: transparent;
  border: 1px solid #b4a89a;
  color: #b4a89a;
  padding: 8px 32px; }

.button-wireframe--style2 {
  color: #443636;
  text-align: center; }

.header__section {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  max-width: 100%; }

.header {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 0 40px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .header {
      height: 80px;
      padding: 0 16px; } }

.header__panel {
  flex: 1;
  display: flex; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .header__panel {
      justify-content: space-between;
      align-items: center; } }

.header__panel--left {
  flex: 2; }

.header__panel--right {
  justify-content: flex-end; }

.header__logo {
  display: flex;
  align-items: center; }

.header__nav-list {
  list-style: none;
  display: flex;
  align-items: center; }

.header__nav-list-item {
  padding: 0 16px; }

.header__nav-list-item-link {
  color: #443636; }

.header__menu span {
  display: block; }
  .header__menu span:before {
    content: "";
    height: 3px;
    background-color: #443636;
    width: 40px;
    display: block;
    border-radius: 4px; }
  .header__menu span:not(:last-of-type) {
    margin-bottom: 6px; }

.footer {
  max-width: 100%;
  width: 100vw; }

.footer__top-layer {
  background-color: #edd3c0;
  color: #b4a89a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 150px;
  height: 150px;
  padding: 0 40px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .footer__top-layer {
      max-height: 110px; } }

.footer__button-container {
  flex: 1; }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .footer__back-to-top-button {
    display: none; } }

.footer__round-logo-container {
  flex: 1; }

.footer__round-logo {
  height: 60px;
  width: 60px; }
  @media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
    .footer__round-logo {
      display: block;
      margin: 0 auto;
      height: 90px;
      width: 90px; } }

.footer__our-shop {
  flex: 1; }

.footer__our-shop-text {
  color: #443636;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.footer__arrow {
  width: 50px;
  height: auto;
  margin-left: 16px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .footer__arrow {
      width: 30px; } }

.footer__bottom-layer {
  background-color: #3d552c;
  color: #ffffff;
  padding: 1px 0; }

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0; }
  @media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
    .footer__nav {
      height: 120px; } }

.footer__nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  flex: 1;
  padding: 0; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .footer__nav-list {
      display: block;
      text-align: center; } }
  .footer__nav--secondary .footer__nav-list {
    max-width: 500px; }

.footer__nav-list-item:not(:last-of-type) {
  margin-bottom: 24px; }

.footer__nav-list-item-link {
  color: #ffffff; }
  .footer__nav--secondary .footer__nav-list-item-link {
    color: #b4a89a; }

.footer__white-logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .footer__white-logo {
      width: 200px; } }

.image__section {
  position: relative; }

.image {
  position: relative; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .image {
      max-width: var(--max-width-mobile); } }

.image__image {
  object-fit: cover;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .image__image {
      object-position: 80%;
      width: 100vw;
      height: 100vh; } }

.featured-collection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0; }

.featured-collection__title {
  text-align: center;
  color: #443636; }

.featured-collection__radio {
  display: none; }

.featured-collection__product-preview {
  display: none;
  justify-content: center;
  margin: 56px auto;
  max-width: 650px;
  position: relative; }

.featured-collection__product-preview-image-container {
  flex: 0 0 50%; }

.featured-collection__product-preview-picture {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.featured-collection__product-preview-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

.featured-collection__product-preview-details-container {
  flex: 0 0 50%;
  display: flex; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .featured-collection__product-preview-details-container {
      flex: 1;
      margin: 32px; } }

.featured-collection__product-preview-details {
  border-radius: 20px;
  border: thin solid #b4a89a;
  padding: 28px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .featured-collection__product-preview-details {
      display: flex;
      flex-direction: column; } }

.featured-collection__product-preview-title {
  margin: 8px 0;
  color: #443636; }

.featured-collection__product-preview-size {
  margin: 8px 0;
  color: #443636; }

.featured-collection__product-preview-description {
  margin: 8px 0;
  color: #b4a89a; }

.featured-collection__product-preview-price {
  margin: 8px 0;
  color: #443636; }

.featured-collection__product-preview-view {
  color: #443636; }

.featured-collection__grid {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; }
  .featured-collection__grid::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  .featured-collection__grid::-webkit-scrollbar-thumb {
    background: lightgray;
    -webkit-border-radius: 100px; }

.featured-collection__grid-item {
  flex: 0 0 12%; }
  @media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
    .featured-collection__grid-item:not(:last-of-type) {
      margin-right: 16px; } }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .featured-collection__grid-item {
      flex: 0 0 100%;
      scroll-snap-align: start;
      scroll-snap-stop: always; } }

.featured-collection__product-image-container {
  position: relative;
  padding-top: 100%;
  overflow: hidden; }
  @media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
    .featured-collection__product-image-container {
      background-color: #ffffff;
      border: thin solid lightgray; } }

.featured-collection__product-picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.featured-collection__product-image {
  width: 60%;
  height: auto; }

.featured-collection__product-title {
  text-align: center;
  color: #b4a89a; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .featured-collection__product-title {
      display: none; } }

.featured-collection__view-all-button-container {
  text-align: center; }
  @media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
    .featured-collection__view-all-button-container {
      margin-top: 32px; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-0:checked ~ .featured-collection__product-preview--0 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-0:checked ~ .featured-collection__product-preview--0-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-1:checked ~ .featured-collection__product-preview--1 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-1:checked ~ .featured-collection__product-preview--1-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-2:checked ~ .featured-collection__product-preview--2 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-2:checked ~ .featured-collection__product-preview--2-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-3:checked ~ .featured-collection__product-preview--3 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-3:checked ~ .featured-collection__product-preview--3-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-4:checked ~ .featured-collection__product-preview--4 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-4:checked ~ .featured-collection__product-preview--4-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-5:checked ~ .featured-collection__product-preview--5 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-5:checked ~ .featured-collection__product-preview--5-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-6:checked ~ .featured-collection__product-preview--6 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-6:checked ~ .featured-collection__product-preview--6-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-7:checked ~ .featured-collection__product-preview--7 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-7:checked ~ .featured-collection__product-preview--7-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-8:checked ~ .featured-collection__product-preview--8 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-8:checked ~ .featured-collection__product-preview--8-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-9:checked ~ .featured-collection__product-preview--9 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-9:checked ~ .featured-collection__product-preview--9-mobile {
    display: flex; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .featured-collection__radio--preview-10:checked ~ .featured-collection__product-preview--10 {
    display: flex; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .featured-collection__radio--preview-10:checked ~ .featured-collection__product-preview--10-mobile {
    display: flex; } }

.news-cards {
  padding: 24px; }

.news-cards__title {
  text-align: center; }

.news-cards__description {
  text-align: center; }

.news-cards__grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .news-cards__grid {
      justify-content: center; } }

.news-cards__grid-item {
  flex: 0 0 30%;
  border-radius: 100px; }
  @media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
    .news-cards__grid-item {
      flex: 0 0 90%; } }

.news-cards__card-image {
  height: 100%;
  width: 100%;
  position: relative; }

.news-cards__image {
  width: 100%;
  height: auto;
  object-fit: cover; }

.news-cards__card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  text-align: center; }

.hide {
  display: none; }

@media screen and (max-width: 350px), print {
  .hide--xs-mobile {
    display: none; } }

@media screen and (max-width: 960px), screen and (max-width: 1200px) and (orientation: portrait), print {
  .hide--mobile {
    display: none; } }

@media screen and (max-width: 1200px), print {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 350px), print {
  .hide--larger-than-xs-mobile {
    display: none; } }

@media screen and (min-width: 960px) and (orientation: landscape), screen and (min-width: 1200px), print {
  .hide--larger-than-mobile {
    display: none; } }

@media screen and (min-width: 1201px), print {
  .hide--larger-than-tablet {
    display: none; } }
