.featured-collection {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: $space*5 0;
}
  .featured-collection__title {
    @extend .font-featured-collection-title;
    text-align: center;
    color: $color-text-primary;
  }
  .featured-collection__radio {
    display: none;
  }

  .featured-collection__product-preview {
    display: none;
    justify-content: center;
    margin: $space*7 auto;
    max-width: 650px;
    position: relative;
  }
    .featured-collection__product-preview-image-container {
      flex: 0 0 50%;

    }
      .featured-collection__product-preview-picture {
        width: 100%;
        height: 100%;

        padding-top: 100%;
        overflow: hidden;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
      }
        .featured-collection__product-preview-image {
          width: 100%;
          height: auto;

          position: absolute;
          top: 0;
          left: 0;
        }

    .featured-collection__product-preview-details-container {
      flex: 0 0 50%;
      display: flex;

      @include mobile {
        flex: 1;
        margin: $space*4;
      }
    }
      .featured-collection__product-preview-details {
        border-radius: 20px;
        border: thin solid $color-text-secondary;
        padding: $space*3.5;

        @include mobile {
          display: flex;
          flex-direction: column;
        }
      }
        .featured-collection__product-preview-title {
          @extend .font-product-preview-title;
          margin: $space 0;
          color: $color-text-primary;
        }
        .featured-collection__product-preview-size {
          @extend .font-product-preview-size;
          margin: $space 0;
          color: $color-text-primary;
        }
        .featured-collection__product-preview-description {
          @extend .font-product-preview-description;
          margin: $space 0;
          color: $color-text-secondary;
        }
        .featured-collection__product-preview-price {
          @extend .font-product-preview-price;
          margin: $space 0;
          color: $color-text-primary;
        }
        .featured-collection__product-preview-view {
          color: $color-text-primary;
        }

  .featured-collection__grid {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: lightgray;
      -webkit-border-radius: 100px;
    }
  }
    .featured-collection__grid-item {
      flex: 0 0 12%;

      &:not(:last-of-type) {
        @include larger-than-mobile {
          margin-right: $space*2;
        }
      }

      @include mobile {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      }
    }
      .featured-collection__product-image-container {
        position: relative;
        padding-top: 100%;
        overflow: hidden;

        @include larger-than-mobile {
          background-color: $color-text-white;
          border: thin solid $color-light-gray;
        }
      }
        .featured-collection__product-picture {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          display: flex;
          justify-content: center;
          align-items: center;
        }
          .featured-collection__product-image {
            width: 60%;
            height: auto;
          }

      .featured-collection__product-title {
        @extend .font-product-title;
        text-align: center;
        color: $color-text-secondary;

        @include mobile {
          display: none;
        }
      }

  .featured-collection__view-all-button-container {
    text-align: center;

    @include larger-than-mobile {
      margin-top: $space*4;
    }
  }


@for $i from 0 through 10 {
  .featured-collection__product-preview--#{$i} {
    .featured-collection__radio--preview-#{$i}:checked ~ & {
      @include larger-than-mobile {
        display: flex;
      }
    }
  }

  .featured-collection__product-preview--#{$i}-mobile {
    .featured-collection__radio--preview-#{$i}:checked ~ & {
      @include mobile {
        display: flex;
      }
    }
  }
}